# http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
max_line_length = 120

[*.{vue,js,json,html,yml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

# Minified JavaScript files shouldn't be changed
[**.min.js]
indent_style = ignore
insert_final_newline = ignore
