[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.0"
"argon2-cffi" = "*"
django-compressor = "*"
"psycopg2" = "*"
bcrypt = "*"


[dev-packages]

django-debug-toolbar = "*"
sphinx = "*"
coverage = "*"
"flake8" = "*"
pytest = "*"
tox = "*"
