# Based on http://www.kennethreitz.org/essays/a-better-pip-workflow

django==1.10.7
argon2-cffi

# Templates
django-appconf
django-compressor

# Database
psycopg2

# Bcrypt passwords
bcrypt

# DEVELOPMENT REQUIREMENTS
django-debug-toolbar

# Documentation
Sphinx

# Testing
coverage
flake8
pytest
tox
