alabaster==0.7.10
argon2-cffi==16.3.0
attrs==17.3.0
Babel==2.5.1
bcrypt==3.1.4
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
coverage==4.4.2
Django==1.10.7
django-appconf==1.0.2
django-compressor==2.2
django-debug-toolbar==1.9.1
docutils==0.14
flake8==3.5.0
idna==2.6
imagesize==0.7.1
Jinja2==2.10
MarkupSafe==1.0
mccabe==0.6.1
pluggy==0.6.0
psycopg2==2.7.3.2
py==1.5.2
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
Pygments==2.2.0
pytest==3.3.0
pytz==2017.3
rcssmin==1.0.6
requests==2.18.4
rjsmin==1.0.12
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
sqlparse==0.2.4
tox==2.9.1
urllib3==1.22
virtualenv==15.1.0
