{% templatetag openblock %} load static {% templatetag closeblock %}
{% templatetag openblock %} load compress {% templatetag closeblock %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% templatetag openblock %} block page_title {% templatetag closeblock %}{{ _("My Site") }}{% templatetag openblock %} endblock {% templatetag closeblock %}</title>
  <meta name="description" content="{% templatetag openblock %} block meta_description {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}">
  <meta name="author" content="{% templatetag openblock %} block meta_author {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  {% templatetag openblock %} if debug {% templatetag closeblock %}
    <link rel="stylesheet/less" href="{% templatetag openblock %} static 'less/app.less' {% templatetag closeblock %}">
    <script type="text/javascript" src="{% templatetag openblock %} static 'js/libs/less.min.js' {% templatetag closeblock %}"></script>
  {% templatetag openblock %} else {% templatetag closeblock %}
    {% templatetag openblock %} compress css {% templatetag closeblock %}
    <link rel="stylesheet" type="text/less" media="all" href="{% templatetag openblock %} static 'less/app.less' {% templatetag closeblock %}">
    {% templatetag openblock %} endcompress {% templatetag closeblock %}
  {% templatetag openblock %} endif {% templatetag closeblock %}

  {% templatetag openblock %} compress js {% templatetag closeblock %}
  {% templatetag openblock %} endcompress {% templatetag closeblock %}
</head>
<body>
{% templatetag openblock %} block body {% templatetag closeblock %}

  <div role="main">
    {% templatetag openblock %} block content {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
  </div>

  <!-- Google CDN jQuery with a local fallback -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.11.2.min.js"><\/script>')</script>

  {% templatetag openblock %} compress js {% templatetag closeblock %}
    <script src="{% templatetag openblock %} static 'js/app.js' {% templatetag closeblock %}"></script>
  {% templatetag openblock %} endcompress {% templatetag closeblock %}

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
{% templatetag openblock %} endblock {% templatetag closeblock %}
</body>
</html>
